#display-fields {
  height: 46px;
  width: 294px;
  border-radius: 22.8px;
  background-color: #F38181;
  color: #FFFFFF;
}

#submit-button {
  height: 46px;
  border-radius: 22.8px;
  background-color: #F38181;
}

#input-fields {
  font: SF UI Text;
  height: 46px;
  width: 331px;
  border-radius: 22.8px;
  background-color: #232425;
  color: #FFFFFF;
}

#input-segment {
  background-color: #000000 !important;
}

#diplay-segment {
  height: 326px;
  width: 331px;
  border-radius: 11px;
  background-color: #FFFFFF;
}

body {
  background-color: #000000 !important;
}
